
*, :before, :after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  font-family: montserrat, sans-serif; 
  font-size: 10px;
  color: #202020;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}